# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
.venv/
venv/

# Env vars
.env
.env.*

# VS Code
.vscode/
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Mypy / Ruff
.mypy_cache/
.ruff_cache/

# Build
dist/
build/
*.egg-info/
